In [3]:
import pandas as pd

control_binding = pd.read_csv("control_RNA_binding_site.csv", sep='\t', header = None)
#non_binding = pd.read_csv("non_binding_site.csv", sep='\t', header = None)
#binding = pd.read_csv("putative_binding_site.csv", sep='\t', header = None)

In [2]:
%cd /home/pasongsongmani/binfo1-datapack1/

/home/pasongsongmani/binfo1-datapack1

In [10]:
non_binding

                             0       1
0         chr1:3222720-3222726  agataa
1         chr1:3222721-3222727  gataaa
2         chr1:3222724-3222730  aaacac
3         chr1:3222725-3222731  aacact
4         chr1:3222727-3222733  cactta
...                        ...     ...
24375285      chrM:15413-15419  TACTTC
24375286      chrM:15414-15420  ACTTCT
24375287      chrM:15415-15421  CTTCTT
24375288      chrM:15417-15423  TCTTGA
24375289      chrM:15418-15424  CTTGAG

[24375290 rows x 2 columns]

In [4]:
control_binding

                              0       1
0          chr1:4805828-4805834  AACTTG
1          chr1:4828373-4828379  aactac
2          chr1:4828408-4828414  gtgtaa
3          chr1:4828689-4828695  GGAAAG
4          chr1:4828699-4828705  CAGGAC
...                         ...     ...
142380  chr10:25984513-25984519  agccag
142381  chr10:25984533-25984539  ACAGTA
142382  chr10:25984565-25984571  TTTTCT
142383  chr10:25984574-25984580  TCTTTT
142384  chr10:25988872-25988878  tctagt

[142385 rows x 2 columns]

reference 에서는 516,259 binding sites를 찾았으나, 이 분석에서는 240,609개 밖에 못 찾았다. 이유가 무엇인가..?

non binding site 24,375,290개를 얻었다. 1번 column들을 모두 upper case로 바꿔줘야겠다.

In [20]:
for i in range(240609):
    binding.iloc[i][1] = binding.iloc[i][1].upper()
binding

                           0       1
0       chr1:3222723-3222729  TAAACA
1       chr1:3224572-3224578  AAAAAT
2       chr1:3224573-3224579  AAAATT
3       chr1:3664213-3664219  AAATGT
4       chr1:3664214-3664220  AATGTT
...                      ...     ...
240604      chrM:15353-15359  CATCAA
240605      chrM:15369-15375  CTACTC
240606      chrM:15385-15391  GCACCC
240607      chrM:15388-15394  CCCAAA
240608      chrM:15411-15417  ACTACT

[240609 rows x 2 columns]

In [5]:
for i in range(142385):
    control_binding.iloc[i][1] = control_binding.iloc[i][1].upper()
control_binding

                              0       1
0          chr1:4805828-4805834  AACTTG
1          chr1:4828373-4828379  AACTAC
2          chr1:4828408-4828414  GTGTAA
3          chr1:4828689-4828695  GGAAAG
4          chr1:4828699-4828705  CAGGAC
...                         ...     ...
142380  chr10:25984513-25984519  AGCCAG
142381  chr10:25984533-25984539  ACAGTA
142382  chr10:25984565-25984571  TTTTCT
142383  chr10:25984574-25984580  TCTTTT
142384  chr10:25988872-25988878  TCTAGT

[142385 rows x 2 columns]

In [21]:
for i in range(24375290):
    non_binding.iloc[i][1] = non_binding.iloc[i][1].upper()
non_binding

                             0       1
0         chr1:3222720-3222726  AGATAA
1         chr1:3222721-3222727  GATAAA
2         chr1:3222724-3222730  AAACAC
3         chr1:3222725-3222731  AACACT
4         chr1:3222727-3222733  CACTTA
...                        ...     ...
24375285      chrM:15413-15419  TACTTC
24375286      chrM:15414-15420  ACTTCT
24375287      chrM:15415-15421  CTTCTT
24375288      chrM:15417-15423  TCTTGA
24375289      chrM:15418-15424  CTTGAG

[24375290 rows x 2 columns]

In [6]:
#binding.to_csv("putative_binding_site_upper.csv")
#non_binding.to_csv("non_binding_site_upper.csv")
control_binding.to_csv("control_binding_site_upper.csv")

In [7]:
!head control_binding_site_upper.csv

,0,1
0,chr1:4805828-4805834,AACTTG
1,chr1:4828373-4828379,AACTAC
2,chr1:4828408-4828414,GTGTAA
3,chr1:4828689-4828695,GGAAAG
4,chr1:4828699-4828705,CAGGAC
5,chr1:4831278-4831284,ATAAAA
6,chr1:4832445-4832451,CCCACA
7,chr1:4832541-4832547,AATTTC
8,chr1:4833183-4833189,GGAGTG

In [24]:
!head putative_binding_site_upper.csv

,0,1
0,chr1:3222723-3222729,TAAACA
1,chr1:3224572-3224578,AAAAAT
2,chr1:3224573-3224579,AAAATT
3,chr1:3664213-3664219,AAATGT
4,chr1:3664214-3664220,AATGTT
5,chr1:3664215-3664221,ATGTTC
6,chr1:3664216-3664222,TGTTCC
7,chr1:3664217-3664223,GTTCCC
8,chr1:3664218-3664224,TTCCCA

In [25]:
!head non_binding_site_upper.csv

,0,1
0,chr1:3222720-3222726,AGATAA
1,chr1:3222721-3222727,GATAAA
2,chr1:3222724-3222730,AAACAC
3,chr1:3222725-3222731,AACACT
4,chr1:3222727-3222733,CACTTA
5,chr1:3222728-3222734,ACTTAG
6,chr1:3222729-3222735,CTTAGC
7,chr1:3222730-3222736,TTAGCC
8,chr1:3222731-3222737,TAGCCA